{% extends 'base.html.twig' %}

{% block title %}New Partidos{% endblock %}

{% block body %}
    <h1>Crear Partidos</h1>

    {{ include('partidos/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_partidos_index') }}">Volver</a>
{% endblock %}
