<!DOCTYPE html>

<title>New Partidos</title>

{% block body %}
    <h1>Create new Partidos</h1>

    {{ include('partidos/_form.html.twig') }}

    <a href="{{ path('app_partidos_index') }}">back to list</a>
{% endblock %}
