<form method="post" action="{{ path('app_equipos_delete', {'codEquipo': equipo.codEquipo}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipo.codEquipo) }}">
    <button class="btn">Delete</button>
</form>
