<!DOCTYPE html>

<title>Edit Jugadores</title>

{% block body %}
    <h1>Edit Jugadores</h1>

    {{ include('jugadores/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_jugadores_index') }}">back to list</a>

    {{ include('jugadores/_delete_form.html.twig') }}
{% endblock %}
