<!DOCTYPE html>

<title>New Zonas</title>

{% block body %}
    <h1>Create new Zonas</h1>

    {{ include('zonas/_form.html.twig') }}

    <a href="{{ path('app_zonas_index') }}">back to list</a>
{% endblock %}
